@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet');

:root {
    --dark-blue: #003A63;
    --light-blue: #0096D6;
    --text-dark: #333333;
    --text-light: #FFFFFF;
    --background-light: #FFFFFF;
    --background-gray: #F7F9FA;
    --border-color: #E0E0E0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.register-page-body {
    font-family: 'Rubik', sans-serif;
    color: var(--text-dark);
    background-color: var(--background-light);
    display: flex;
    min-height: 100vh;
}

.register-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.sidebar {
    flex: 0.2;
    background: url('../imgs/lateral.png') no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.register-form-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: var(--background-light);
}

.register-form-container {
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.logo-form {
    max-width: 150px;
    margin-bottom: 20px;
}

.register-form-container h2 {
    font-size: 1.8rem;
    color: var(--dark-blue);
    margin-bottom: 30px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
}

.checkbox-group {
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: 0.9rem;
    margin-bottom: 25px;
}
#terms{
    accent-color: var(--dark-blue);
}

.checkbox-group label {
    color: var(--dark-blue);
}

.checkbox-group a {
    color: var(--light-blue);
    text-decoration: none;
    font-weight: 500;
}

.btn {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: var(--dark-blue);
    color: var(--text-light);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: background-color 0.2s;
}

.btn:hover {
    background-color: var(--light-blue);
}

.login-link {
    margin-top: 25px;
    font-size: 0.9rem;
    color: #555;
}

.login-link a {
    color: var(--primary-blue);
    text-decoration: none;
    font-weight: 600;
}

@media (max-width: 768px) {
    .register-container {
        flex-direction: column;
    }
    .sidebar {
        min-height: 200px;
        flex: auto;
    }
    .register-form-section {
        padding: 30px 20px;
    }
}
